.main {
  // border: 1px solid palevioletred;
  display: flex;
  flex-direction: column;
  font-size: small;
  // height: 100%;
  width: 100%;
  overflow-x: hidden;

  color: rgb(211, 134, 252);

  .selectBlock {
    display: flex;
    height: 100%;
    // border: 1px solid white;
    padding: 4px;
    justify-content: space-between;
    .select {
      display: flex;
      overflow: clip;
      height: 1rem;
      flex-flow: row;
      gap: 10px;
      .item,
      .itemSelected {
        color: rgba(255, 255, 255, 0.623);
        display: flex;
        justify-content: space-between;
        margin-inline: 10px;
        .iconRemove {
          color: red;
          font-size: 10px;
          &:hover {
            color: rgb(255, 0, 255);
          }
        }
      }
    }
    .btnOpenList {
      cursor: pointer;
      color: var(--base-border-color);
      &:hover {
        filter: brightness(200%);
      }
    }
  }

  .category,
  .categoryClicked {
    margin-block: 10px;
    margin-left: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid white;
    }
  }

  .categoryClicked {
    color: white;
  }

  .listBlock {
    // width: 30vw;

    // width: min-content;
    height: 100%;
    // position: relative;

    .listCategoriesOpen {
      font-size: small;
      width: 100%;
      z-index: 600 !important;
      transition: height 0.3s;
      height: 200px;
      display: grid;
      color: white;
      overflow-y: scroll;
      background: linear-gradient(rgb(26, 16, 28), black, rgb(26, 16, 28));

      .listItem,
      .listItemSelected {
        padding: 3px;
        color: rgba(255, 255, 255, 0.706);
        cursor: pointer;
        &:hover {
          background-color: rgb(9, 131, 84);
        }
      }
      .listItemSelected {
        font-weight: bold;
        margin-block: 3px;
        color: white;
        &:hover {
          background-color: rgb(205, 6, 6);
        }
      }

      &::-webkit-scrollbar {
        width: 8px; // ширина скроллбара
      }

      // Стилизация дорожки скроллбара
      &::-webkit-scrollbar-track {
        background: transparent; // цвет фона дорожки
      }

      // Стилизация ползунка скроллбара
      &::-webkit-scrollbar-thumb {
        background-color: var(--base-border-color); // цвет ползунка
        border-radius: 8px; // закругление углов ползунка
        // border: 1px solid orange; // рамка вокруг ползунка
      }

      // Стилизация ползунка при наведении
      &::-webkit-scrollbar-thumb:hover {
        cursor: grab;
        background-color: rgb(213, 213, 213);
        // background-color: #555; // цвет ползунка при наведении
      }
    }
    .listCategoriesClose {
      // transition: height 0.3s;
      overflow: hidden;
      height: 0;
    }
  }
}
