@import "../../../rootStyles.css";
.main {
  // border: 1px solid rgba(216, 112, 147, 0.34);
  font-size: small;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    color: rgb(211, 134, 252);
  }
  .itemsBlock {
    // width: 100%;
    padding: 2px;
    height: min-content;
    display: flex;

    .titleItem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .items {
      height: min-content;
      display: flex;
      transition: height 0.2s;

      .currentValue,
      .otherValue {
        text-align: center;
        padding-inline: 5px;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
          transition: all 0.2s;

          border-bottom: 2px solid white;
        }
      }
      .currentValue {
        border-bottom: 2px solid var(--base-border-color);
      }
    }
  }

  .arrowUp,
  .arrowDown {
    font-size: 1rem;
    filter: brightness(70%);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.2s ease;
    margin-left: 2px;
    &:hover {
      transition: color 0.3s;
      color: red;
    }
  }
  .arrowDown {
    transition: transform 0.3s;
    transform: rotate(180deg);
  }
}
