.home {
  height: 100%;

  .tagsLine,
  .frendNews {
    padding: 20px;
    height: 30vh;
    width: 100%;
    background-color: rgba(255, 228, 196, 0.242);
    margin-block: 30px;
  }

  .frendNews {
    background-color: rgba(203, 255, 196, 0.252);
  }
}
