.mainLists {
  display: flex;
  width: 100%;
  justify-content: center;

  .mainBlock {
    height: 100%;
    width: 80%;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .noSheets {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pAddList {
        font-size: 1.2rem;
        cursor: pointer;
        color: rgb(129, 129, 255);
        &:hover {
          transition: all 0.2s;
          font-size: 1.7rem;
          color: blue;
        }
      }
    }
  }
}
