.main {
  width: 80%;
  height: 100%;
  margin-inline: auto;
}

@media only screen and (max-width: 600px) {
  .main {
    padding-inline: 5px;
    width: 100%; // Ширина контейнера для мобильных устройств
  }
}
