@import "../../rootStyles.css";

.switchContainer {
  display: flex;
  flex-direction: column;
  .text {
    position: absolute;
    margin-top: 2em;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .sliderRound {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(128, 128, 128, 0.516);
      transition: 0.4s;
      border: 1px solid rgba(255, 255, 255, 0.08);
      &:hover {
        transition: border 0.2s;
        border: 1px solid var(--border-color-search-block);
      }

      &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 5px;
        background-color: white;
        transition: 0.4s;
      }
    }

    input:checked + .sliderRound {
      background-color: rgba(93, 199, 203, 0.67);
    }

    input:focus + .sliderRound {
      box-shadow: 0 0 1px rgba(93, 93, 203, 0.67);
    }

    input:checked + .sliderRound:before {
      transform: translateX(35px);
    }

    .sliderRound {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
