@import "../../../rootStyles.css";

.headerLists {
  display: flex;
  position: relative;
  z-index: 200;
  width: 100%;
  // border: 1px solid var(--base-border-color);
  // flex-direction: column;
  background-color: rgba(0, 0, 0, 0.72);
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 0, 0, 0.229),
  //   rgba(0, 0, 0, 0.042)
  // );
  // -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 30px 30px;

  .buttons {
    display: flex;
    div {
      margin-inline: 10px;
      cursor: pointer;
      &:hover {
        filter: brightness(80%);
      }
    }
  }

  .filter {
    display: flex;
  }
}
