@import "../../../../rootStyles.css";

.infoContainer {
  z-index: 999;
  position: absolute;
  margin-left: 50%;
  width: inherit;
  padding: 10px;
  height: min-content;
  background-color: rgba(210, 210, 210, 0.859);
  color: var(--base-border-color);
  box-shadow: 2px -1px 14px 12px rgb(0, 0, 0);
  -webkit-box-shadow: 2px -1px 14px 12px rgb(0, 0, 0);
  -moz-box-shadow: 2px -1px 14px 12px rgb(0, 0, 0);

  p {
    background-color: transparent;
    font-size: larger;
    color: black;
  }
}
