@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
body > div {
  height: 100%;
}

body,
h1,
h2,
h3,
p {
  font-family: "Play", sans-serif;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("./images/main3.webp");

  background-size: cover;
  /* // Покрывает весь элемент, сохраняя пропорции изображения */
  background-position: center;
  /* // Центрирует изображение по центру элемента */
  background-repeat: no-repeat;
  /* // Предотвращает повторение изображения */

  &::-webkit-scrollbar {
    width: 8px; // ширина скроллбара
  }

  // Стилизация дорожки скроллбара
  &::-webkit-scrollbar-track {
    background: black; // цвет фона дорожки
  }

  // Стилизация ползунка скроллбара
  &::-webkit-scrollbar-thumb {
    background-color: rgb(109, 109, 109); // цвет ползунка
    border-radius: 8px; // закругление углов ползунка
    // border: 1px solid orange; // рамка вокруг ползунка
  }

  // Стилизация ползунка при наведении
  &::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background-color: rgb(213, 213, 213);
    // background-color: #555; // цвет ползунка при наведении
  }
}
